/* General styles */
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Tahoma', sans-serif;
    background-color: #2c2c2c; /* Dark grey background */
    color: #fff; /* White text color */
    scroll-behavior: smooth; /* Smooth scroll */
}

/* Navigation styles */
header {
    background-color: #2c2c2c;
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header .logo {
    padding: 50px; /* Add padding around the image */
    height: 45px; /* Ensure the image maintains its height */
    vertical-align: middle; /* Align the image vertically in the middle */
}

header nav {
    display: flex;
    justify-content: center;
}

header nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em;
    transition: color 0.3s ease, transform 0.3s ease; /* Smooth transition */
}

header nav a:hover {
    text-decoration: underline;
    color: #1cb41c; /* Change color on hover */
    transform: scale(1.1); /* Slight zoom effect */
}

/* Container styles */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px; /* Increase padding */
    box-sizing: border-box;
    /*text-align: center;*/
}

.container > * {
    width: 100%; /* Ensure content spans full width */
    max-width: 800px; /* Limit maximum width for readability */
    text-align: left; /* Left-align text */
}

/* Heading styles */
h1 {
    font-size: 2.5em; /* Slightly larger font size */
    color: #ffffff; /* White color for the heading */
    margin-bottom: 20px; /* Add some space below the heading */
}

/* Paragraph styles finsance file */
p {
    font-size: 1.2em;
    color: #fff; /* White text color */
    margin: 0 0 20px 0; /* Add some space below the paragraph */
    line-height: 1.6; /* Improve readability */
    text-align: center;
}

address {
    font-style: normal;
    
}

/* Button styles */
button {
    background-color: #1cb41c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 4px; /* Rounded corners */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition */
}

button:hover {
    background-color: #148c14; /* Darker green on hover */
    transform: scale(1.05); /* Slight zoom effect */
}

/* Form input styles */
input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s ease; /* Smooth transition */
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
    border-color: #1cb41c; /* Green border on focus */
    outline: none; /* Remove default outline */
}

input[type="submit"] {
    background-color: #1cb41c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 4px; /* Rounded corners */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition */
}

input[type="submit"]:hover {
    background-color: #148c14;
    transform: scale(1.05); /* Slight zoom effect */
}

/* Card styles */
.card {
    background-color: #333;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; /* Smooth transition */
}

.card:hover {
    transform: translateY(-10px); /* Lift effect */
}

.card h2 {
    margin-top: 0;
}

.card p {
    margin-bottom: 0;
}

/* Back link styles */
.back-link a {
    color: #1cb41c; /* Cerulean blue color for the back link */
    text-decoration: none;
    transition: color 0.3s ease; /* Smooth transition */
}

.back-link a:hover {
    text-decoration: underline;
    color: #148c14; /* Darker green on hover */
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer a {
    color: #1cb41c;
    text-decoration: none;
    transition: color 0.3s ease; /* Smooth transition */
}

footer a:hover {
    text-decoration: underline;
    color: #148c14; /* Darker green on hover */
}

/* Responsive adjustments */
@media only screen and (max-width: 600px) {
    .container {
        padding: 20px; /* Add padding for smaller screens */
        text-align: left; /* Left-align text for mobile */
    }

    header nav {
        flex-direction: column;
        align-items: center;
    }

    header nav a {
        margin: 5px 0;
    }

    h1 {
        font-size: 2em; /* Adjust heading size for smaller screens */
    }

    p {
        font-size: 1em; /* Adjust paragraph size for smaller screens */
    }

    .back-link a {
        font-size: 0.9em; /* Adjust font size for smaller screens */
    }
}

.privacy-details, .finance-details, .terms-content {
    padding: 40px 20px; /* Add padding */
    width: 100%; /* Ensure content spans full width */
    max-width: 800px; /* Limit maximum width for readability */
    text-align: left; /* Left-align text */
}